<div class="row">
    <div class="col-sm-4" style="background-color:lavender;">
      <label>Task</label>
      <input type="text" name="taskname" class="form-control" (keyup.enter)="createPost(task)" #task >
      <button type="button" class="btn btn-default" >Add</button>
    </div>

    <div class="col-sm-8" style="background-color:lavenderblush;">
      <label>Search</label>
       <input type="text" name="search">
       <button type="button" class="btn btn-default">Search</button> </div>
    </div>
